input,
textarea,
select,
button {
  box-sizing: border-box;
  display: block;
  width: 250px;
  height: 30px;
  margin-bottom: 15px;
  font-family: "Capibri";
}

textarea {
  height: 100px;
  resize: none;
}
th {
  background: #555;
  padding: 5px;
  color: #fff;
}
td {
  background: #eee;
  padding: 5px;
}
td:nth-child(6) a {
  color: rgb(180, 0, 0);
}
a {
  color: rgb(29, 29, 255);
}
